
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css"/>
      
    <script src="jquery.colorpicker.js"></script>
    <link href="jquery.colorpicker.css" rel="stylesheet" type="text/css"/>


  
   
   

   
        <h2>Only a button image</h2>
        <span class="cp-alt-target" style="display: inline-block; border: thin solid black; padding: .5em 4em;">
        </span>
        <input type="text" class="cp-buttonImageOnly" value=" " hidden/>
        <br/>
      
        <script>
          $(function() {
            $('.cp-buttonImageOnly').colorpicker({
              showOn:       'both',
                altField: '.cp-alt-target',
              altProperties: 'background-color,color',
              buttonImageOnly:  true
            });

            $('#toggle-cp-buttonImageOnly-disable').click(function() {
              $('.cp-buttonImageOnly').colorpicker($(this).is(':checked') ? 'enable' : 'disable');
            });
          });
        </script>

    